/*!
 *Custom validations
*/

.table td, .table th {
    font-size: 0.92em;
}

.card-header .btn-wrapper{
    text-align: right;
}

@media only screen and (max-width: 589px) {
    .card-header, 
    .card-header .btn-wrapper {
        text-align: center;
    }
    
    .card-header h5{
        font-size: 0.95rem;
    }
    
    .card-header .btn{
        font-size: 0.7rem;
        margin-top: 10px;
    }
}